/**
 * This styling is the default styling for elements that could be found on any
 * page. More specific styles may overwrite.
 */

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    font-family: sans-serif;
}

header, footer {
    width: 100vw;
    text-align: center;
}

header {
    height: 64pt;
    
    font-size: 24pt;
    
    /* background-color: aquamarine; */
}

footer {
    height: 42pt;
    align-self: flex-end;

    font-size: 12pt;

    /* background-color: salmon; */
}

/* main {
    background-color: palegoldenrod;
} */

/* These styles are quite specific. Might move later. */
main.home-page {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

main.explore-page {
    position: absolute;
    height: 100%;
}

#explore-select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explore-select-btn {
    margin: 5pt;
}