/**
 * These styles are used specifically for the map and map-related elements.
 */

#map {
    color: black;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-49.5%);
    width: 70%;
    aspect-ratio: 1.75;
    max-width: 907px;
    max-height: 519px;
    background-color: white;
    margin: 0;
    padding: 0;
}

#map .leaflet-popup-content-wrapper {
    background-color: #2e2e56;
}

#map-help.complete {
    display: none;
}

#map-help {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #2e2e56;
    z-index: 1002;
    color: white;
}

#collection {
    position: absolute;
    right: 0;
    bottom: 10%;
    z-index: 1001;
    margin: 6pt;
    padding: 12pt;
    border-radius: 6pt;
    background-color: rgba(60, 60, 114, 0.2);
    backdrop-filter: blur(6pt);
    -webkit-backdrop-filter: blur(6pt);
    display: flex;
    flex-direction: row-reverse;
}

.leaflet-popup-content .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.leaflet-popup-content img {
    width: 100%;
}

.heart {
    color: gray;
    background-color: currentColor;
    display: inline-block;
    height: 20px;
    margin: 0 4px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    position: absolute;
    right: 10px;
    top: 30px;
    width: 20px;
}

.heart-checkbox {
    display: none;
}

.heart::before,
.heart::after {
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

.heart-checkbox:checked+.heart {
    color: red;
}