/**
 * These styles are used specifically for the map and map-related elements.
 */

#map_desktop {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-49.5%);
    width: 70%;
    aspect-ratio: 1.75;
    max-width: 907px;
    max-height: 519px;
    background-color: white;
    margin: 0;
    padding: 0;
}

#map_mobile {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-49.5%);
    width: 70%;
    aspect-ratio: 1.58;
    max-width: 868px;
    max-height: 548px;
    background-color: white;
    margin: 0;
    padding: 0;
}

#map_desktop span,
#map_mobile span,
#popup h3,
#popup p,
#popup strong,
#popup .time {
    color: black;
}

#popup h3 {
    font-size: 18px;
}

#popup .hide {
    display: none;
}

#collection {
    position: absolute;
    right: 15%;
    bottom: 7%;
    z-index: 1001;
    margin: 6pt;
    padding: 12pt;
    border-radius: 6pt;
    background-color: rgba(60, 60, 114, 0.2);
    backdrop-filter: blur(6pt);
    -webkit-backdrop-filter: blur(6pt);
    display: flex;
    flex-direction: row-reverse;
}

.leaflet-popup-content .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.leaflet-popup-content img {
    width: 100%;
}

.leaflet-popup-content .detail {
    display: flex;
    flex-wrap: nowrap;
}

#popup .desc {
    width: 50%;
    margin-right: 10px;
}

#popup .time {
    margin-top: 3px;
}

#popup .desc p {
    margin: 1.1em 0;
}

.case {
    box-sizing: border-box;
    flex-grow: 2;
    margin-top: 20px;
    height: 230px;
    width: 230px;
}

.cover {
    background-size: cover !important;
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.heart {
    color: gray;
    background-color: currentColor;
    display: inline-block;
    height: 20px;
    margin: 0 4px;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
}

.heart-checkbox {
    display: none;
}

.heart::before,
.heart::after {
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    height: 20px;
    position: absolute;
    width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

.heart-checkbox:checked+.heart {
    color: red;
}