/*** UTILITY CLASSES ***/
/* These classes aren't semantic, they are used to apply utility styles */
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.all-height {
    height: 100%;
}

.all-width {
    width: 100%;
}